@import url("./fonts.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vazirmatn";
  list-style: none;
}

/*  VARIABLES : */

:root {
  --color-secondary-900: rgb(17, 24, 39);
  --color-secondary-800: rgb(31, 41, 55);
  --color-secondary-700: rgb(55, 65, 81);
  --color-secondary-600: rgb(75, 85, 99);
  --color-secondary-500: rgb(107, 114, 128);
  --color-secondary-400: rgb(156, 163, 175);
  --color-secondary-300: rgb(209, 213, 219);
  --color-secondary-200: rgb(229, 231, 235);
  --color-secondary-100: rgb(243, 244, 246);
  --color-secondary-50: rgb(249, 250, 251);
  --color-secondary-0: rgb(255, 255, 255);

  --color-primary-900: rgb(77, 112, 255);
  --color-primary-800: rgb(92, 124, 255);
  --color-primary-700: rgb(92, 124, 255);
  --color-primary-600: rgb(128, 153, 255);
  --color-primary-500: rgb(146, 167, 255);
  --color-primary-400: rgb(164, 182, 255);
  --color-primary-300: rgb(183, 197, 255);
  --color-primary-200: rgb(201, 211, 255);
  --color-primary-100: rgb(219, 226, 255);
  --color-primary-50: rgb(228, 233, 255);

  --border-radius-tiny: 3px;
  --border-radius-sm: 5px;
  --border-radius-md: 7px;
  --border-radius-lg: 9px;

  --color-success: rgb(0, 192, 115);
  --color-warning: rgb(255, 153, 0);
  --color-error: rgb(255, 71, 87);
  --color-red-700: rgb(185, 28, 28);
  --color-red-800: rgb(153, 27, 27);
  --color-red-500: rgb(239, 68, 68);
  --color-red-300: rgb(252, 165, 165);
  --color-red-100: rgb(254, 226, 226);
}

h1 {
  font-weight: 900;
}

body {
  font-family: "Vazirmatn";
  color: var(--color-secondary-900);
  background-color: var(--color-secondary-100);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid var(--color-secondary-300);
  border-radius: var(--border-radius-lg);
  padding: 1rem 2rem;
  font-weight: 400;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--color-secondary-700);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-container {
  display: flex;
}
.todo-container {
  margin-top: 1rem;
  width: 25rem;
}

form {
  width: 25rem;
  background-color: var(--color-secondary-0);
  border-radius: var(--border-radius-lg);
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--color-secondary-200);
  overflow: hidden;
}

form input {
  flex: 1;
  font-weight: bold;
}

form input,
form button {
  border: none;
  outline: none;
  background-color: none;
  font-size: 1rem;
  padding: 0.5rem;
}

form button {
  color: var(--color-primary-900);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

form button:hover {
  background-color: var(--color-primary-900);
  color: var(--color-secondary-0);
}
.todo {
  background-color: var(--color-secondary-0);
  border-radius: var(--border-radius-lg);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  display: flex;
}
.todo .todo__title {
  color: var(--color-primary-900);
  font-weight: bold;
  flex: 1;
}

.todo button {
  display: block;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  background-color: transparent;
}

.fa-trash-alt {
  color: var(--color-red-500);
}
.fa-check-square {
  color: var(--color-primary-900);
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

select {
  appearance: none;
  border: none;
  outline: none;
  width: 100%;
  padding: 1rem;
  color: var(--color-primary-900);
}

.select {
  margin-left: 1rem;
  background-color: #fff;
  cursor: pointer;
  width: 10rem;
  position: relative;
  border: 2px solid var(--color-secondary-200);
  font-weight: bold;
  border-radius: var(--border-radius-lg);
  overflow: hidden;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  color: var(--color-primary-900);
  pointer-events: none;
}

button {
  border: none;
  outline: 0;
}
button > i {
  pointer-events: none;
}

/* Edit form */
/* .form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
} */

/* @media screen and (min-width: 600px) {
  .form {
    grid-template-columns: 1fr 1fr;
  }
} */


.btn {
  font-size: 1rem;
  font-weight: 700;
  border-radius: var(--border-radius-lg);
  padding: 0.5rem 1rem;
}

.btn--primary {
  background-color: var(--color-primary-900);
  color: var(--color-secondary-0);
}

.btn--outline {
  color: var(--color-primary-900);
  border: 1px solid var(--color-primary-900);
}

